body {
    background: linear-gradient( $electric-dark, #01C1BC);;
    overflow-x:hidden;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    font-family: 'Baloo Paaji 2', cursive;
}